#mine_sweeper {
    position: absolute;
    z-index: 999;
    background-color: white;
    top: 0;
    left: 0;
    width: 348px;
    height: 315px;
}

.field_row {
    float: left;
}

.field_tile {
    font-family: sans-serif;
    font-size: 9px;
    width: 10px;
    height: 10px;
    background-color: #A7A7A7;
    float: left;
    border-left: 1px solid black;
    border-top: 1px solid black;
    text-align: center;
}

.revealed {
    background-color: white;

}

.mine {
    background-color: red;
}